# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# VSCode
*.vscode
.vscode/*

#latex
#
*.aux 
*.log 
*.synctex.gz

# Executables
*.dSYM
*.exe
*.out
*.app
auto
out
